<!DOCTYPE html>
<html>

   <head>
	   <meta charset="utf-8">
	   <title>Portfolio - SD</title>
	   <meta content="width=device-width, initial-scale=1.0" name="viewport">
	   <meta content="" name="keywords">
	   <meta content="" name="description">


	   {% block stylesheets %}
	   <!-- CSS -->
	   <link rel="stylesheet" href="{{ asset('css/style-green.css') }}" type="text/css"/>


	   <!-- ESSAI SASS -->
	   <!--<link rel="stylesheet/scss" type="text/css" href="{ { asset('css/scss/style-green.scss') }}">-->

	   <link rel="icon" href="{{ asset('img/favicon01.png') }}"/>
	   <!--<link rel="apple-touch-icon" href="{ { asset('img/apple-touch-icon.png') }}"/>-->

	   <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" type="text/css"/>
	   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>

	   <link rel="stylesheet" href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
	   <link rel="stylesheet" href="{{ asset('lib/animate/animate.min.css') }}" type="text/css"/>
	   <link rel="stylesheet" href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" type="text/css"/>
	   <link rel="stylesheet" href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" type="text/css"/>
	   <link rel="stylesheet" href="{{ asset('lib/lightbox/css/lightbox.min.css') }}" type="text/css"/>
	   {% endblock %}

	</head>
    <body id="top page-top">
	<!--================ Body Area  =================-->
	{% block body %}
		<div id="react-section"></div>
	{% endblock %}
	<!--================ End Body Area  =================-->

        {% block javascripts %}
			<!--<script src="{ { asset('js/jquery-3.2.1.min.js') }}"></script>
			<script src="{ { asset('js/plugins.js') }}"></script>-->
			<script src="{{ asset('js/main.js') }}"></script>

			<script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('lib/jquery/jquery-migrate.min.js') }}"></script>
			<script src="{{ asset('lib/popper/popper.min.js') }}"></script>
			<script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('lib/easing/easing.min.js') }}"></script>
			<script src="{{ asset('lib/counterup/jquery.waypoints.min.js') }}"></script>

			<script src="{{ asset('lib/counterup/jquery.counterup.js') }}"></script>
			<script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('lib/lightbox/js/lightbox.min.js') }}"></script>
			<script src="{{ asset('lib/typed/typed.min.js') }}"></script>

			<script src="{{ asset('js/contactform.js') }}"></script>
			<script src="{{ asset('js/main.js') }}"></script>

			{{ encore_entry_script_tags('main')}}

		{% endblock %}
    </body>
</html>