<!DOCTYPE html>
<html>

       <head>

		<!--- basic page needs
		================================================== -->
		<meta charset="utf-8">
		<title>Stellar</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- mobile specific metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/vendor.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/font-awesome/css/fontawesome-all.css') }}" type="text/css"/>
	
		
		<!-- script
		================================================== -->
		<script src="js/modernizr.js"></script>
		<script src="js/pace.min.js"></script>

		<!-- favicons
		================================================== -->
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
		<link rel="icon" href="favicon.png" type="image/x-icon">

	</head>
    <body id="top">
	<!--================ Body Area  =================-->
	{% block body %}{% endblock %}
	<!--================ End Body Area  =================-->

        {% block javascripts %}
			<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
			<script src="{{ asset('js/plugins.js') }}"></script>
			<script src="{{ asset('js/main.js') }}"></script>
			
		{% endblock %}
    </body>
</html>