{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    {{ parent() }}

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Sacha Durand</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#formation">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Work</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Blog</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Sacha Durand</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Back-end Developer,Web Developer,Dev'Ops Developer</span><strong class="text-slider"></strong></p>
           <!--<p class="pt-3"><a class="btn btn-primary btn btn-success js-scroll px-4" href="#about" role="button">Learn More</a></p>-->
          <br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="row">
              <a href="https://github.com/DurandSacha/"class="offset-md-1 col-lg-3"><button type="button" class="btn btn-outline-success">
                  View Github</button></a>
            <a href="https://connect.symfony.com/profile/sacha_durand" class=" offset-md-4 col-lg-3"><button type="button" class="btn btn-outline-success">
                View Contributions</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-2.jpg" class="img-fluid rounded-circle b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Sacha Durand</span></p>
                      <p><span class="title-s">Profile: </span> <span>Back-end Developer </span></p>
                      <p><span class="title-s">Email: </span> <span>sacha6623@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>06 58 01 65 54</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>Dev'Ops</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>PHP</span> <span class="pull-right">95%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Symfony</span> <span class="pull-right">92%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Javascript & React.js</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
				  <span>Data Analyze</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I have been passionate about web technology for a long time.
                    So I try to educate myself in order to build a career from my passion.
                    Back-end development is my specialty.

                  </p>
                  <p class="lead">
                    First HTML / CSS, then javascript and PHP, I advanced to build personal projects and professional projects.
                    I now master a variety of tools and back-end frameworks.
                    I don't know everything, I don't know everything, but I like to learn in my field.
                  </p>

                  <a href="" download="public/cv.pdf"><button type="button" class="btn btn-success">Download CV</button></a>


                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!--/ Section Formation /-->
  <section id="formation" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Formation
            </h3>
            <p class="subtitle-a">
              Here, I present my formation in university
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="img/formation-1.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">BAC</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="">STI2D SIN</a></h3>
              <p class="card-description">
                The bac allowed me to obtain the necessary skills to continue my studies.
                this is where I specialized in development with the SIN option.
                I realized various small projects in PHP
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Awarded with mention</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> 2017
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="img/formation-2.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">BAC+2</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="">BTS Science Numerique</a></h3>
              <p class="card-description">
                The BTS allowed me to deepen my knowledge in development.
                I carried out larger projects acquired theoretical knowledge
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Awarded</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> 2019
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="img/formation-3.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">BAC+3</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="">Licence at Openclassromms</a></h3>
              <p class="card-description">
                Openclassrooms allowed me to go much further with 9 professional and practical projects.
                I used symfony, react, doctrine, ansible, CircleCI and many other technologies
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Awarded</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> 2020
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="https://symfonycasts.com/u/DurandSacha" class="offset-md-5 col-md-2"><button href="https://symfonycasts.com/u/DurandSacha" type="button" class=" btn btn-outline-success btn-lg">View mook</button></a>
      </div>
      <br/><br/><br/>
    </div>
  </section>
  <!--/ Section formation End /-->


  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
              Technology and area of expertise
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Back-End - PHP</h2>
              <p class="s-description text-center">
                mastery of PHP language and Symfony framework. The back end is my specialty.
                From showcase site to complex applications.
                I am also a contributor to the Symfony framework and its components
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Front-End - React.js</h2>
              <p class="s-description text-center">
                Twig is my friend.
                but I use javascript for asynchronous web applications.
                I also use libraries like jquery, phaser.js.
                and the react.js framework.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-camera"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Dev-Ops </h2>
              <p class="s-description text-center">
                I like to automate the deployment.
                For this I use several technologies to configure my environment and deploy: Linux; Ansible & Ansistrano; Docker and Symfony Cloud
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">CI-CD</h2>
              <p class="s-description text-center">
                continuous integration tools allow me to move forward on
                my projects using my unit and functional tests: Travis & CircleCI
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Design</h2>
              <p class="s-description text-center">
                I integrate the graphic charters with front-end tools like bootstrap or webpack
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">mastery of data</h2>
              <p class="s-description text-center">
                I design theoretical data architecture (UML),
                then implement them using SQL (MySQL, & MariaDB) or DQL (Doctrine).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url(img/hero-bg.jpg)"> <!-- img/counters-bg.jpg -->
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter" id="public-repo-github"></p>
              <span class="counter-text">PUBLIC REPO GITHUB</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter"> 1 </p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter" id="commit-last-year">588</p>
              <span class="counter-text">COMMIT IN LAST YEAR</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter"> 22</p>
              <span class="counter-text">YEARS OLD</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              here are some of my projects. Some are real web applications, others are Services (SaaS)
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="img/work-01.jpg" data-toggle="modal" data-target=".modal-snowtricks">
              <div class="work-img">
                <img src="img/work-01.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Snowtricks Community - Symfony</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Symfony </span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="modal fade modal-snowtricks" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br/>

              <h3>Symfony Snowtricks</h3>
              <p>The snowtricks community website is a professionalizing project which allowed me to deepen symfony, its ecosystem and other technologies such as twig or doctrine.

                The project aims to exhibit snowboard figures. The community can publish figures, or comment on them.
                Each registered user has a profile (photo, description ...).
              </p>
                <div class="row">
                  <button type="button" class="btn btn-warning spacing">Symfony</button>
                  <button type="button" class="btn btn-warning spacing">Javascript</button>
                  <button type="button" class="btn btn-warning spacing">Twig</button>
                  <button type="button" class="btn btn-warning spacing">Doctrine</button>
                  <button type="button" class="btn btn-warning spacing">Standard PSR2</button>
                </div>
                <br/><br/>
              <img src="img/work-01.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="work-box">
            <a href="img/work-02.jpg" data-toggle="modal" data-target=".modal-bilemo">
              <div class="work-img">
                <img src="img/work-02.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Bilemo Smartphone API</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Symfony / React.js</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="modal fade modal-bilemo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br/>

              <h3>Bilemo project API</h3>
              <p>The bilemo API is an application that manages a B2B business to sell phones.
                The application offers API endings, documentation and a demonstration front page
              </p>

              <div class="row">
                <button type="button" class="btn btn-warning spacing">Symfony</button>
                <button type="button" class="btn btn-warning spacing">React.js</button>
                <button type="button" class="btn btn-warning spacing">Webpack Encore</button>
                <button type="button" class="btn btn-warning spacing">API platform</button>
                <button type="button" class="btn btn-warning spacing">Ansible deployment</button>
              </div>
              <br/><br/>
              <img src="img/work-02.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="work-box">
            <a href="img/work-03.jpg" data-toggle="modal" data-target=".modal-chalet">
              <div class="work-img">
                <img src="img/work-03.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Chalet & Caviar immobilier</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Wordpress</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="modal fade modal-chalet" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br/>


              <h3>Chalets & caviar</h3>
              <p>Chalet & caviar is a real estate rental site. Each visitor can obtain the rental and purchase rates for luxury mountain chalets.
                This site was created with wordpress technology
              </p>

              <div class="row">
                <button type="button" class="btn btn-warning spacing">Wordpress</button>
                <button type="button" class="btn btn-warning spacing">Child PHP Theme</button>
              </div>
              <br/><br/>
              <img src="img/work-03.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="work-box">
            <a href="img/work-04.jpg" data-toggle="modal" data-target=".modal-film">
              <div class="work-img">
                <img src="img/work-04.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Film de plein air</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Wordpress</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="modal fade modal-film" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br/>


              <h3>Festival de film en plein Air </h3>
              <p>Festival en plein air is a wordpress site that lists outdoor cinema sessions for a famous Parisian festival. You can book sessions still available on the site.
                Other information about the festival is also present.
              </p>

              <div class="row">
                <button type="button" class="btn btn-warning spacing">Wordpress</button>
                <button type="button" class="btn btn-warning spacing">Child PHP theme</button>
              </div>
              <br/><br/>
              <img src="img/work-04.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="img/work-05.jpg" data-toggle="modal" data-target=".modal-list">
              <div class="work-img">
                <img src="img/work-05.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">ToDo List</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Symfony/React.js</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="modal fade modal-list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br/>


              <h3>Todo List</h3>
              <p>Todo List is an already existing application. Renovated from symfony2 to Symfony5.
                Features have also been added. The application is deployable thanks to ansible and CircleCI.
                Significant unit and functional tests have been implemented (+ 70% code coverage)
              </p>

              <div class="row">
                <button type="button" class="btn btn-warning spacing">Symfony 5</button>
                <button type="button" class="btn btn-warning spacing">Migration from SF3.3</button>
                <button type="button" class="btn btn-warning spacing">Unit and functional Test</button>
                <button type="button" class="btn btn-warning spacing">CircleCI</button>
              </div>
              <br/><br/>
              <img src="img/work-05.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="work-box work-container">
            <a href="img/work-06.jpg" data-toggle="modal" data-target=".modal-blog">
              <div class="work-img">
                <img src="img/work-06.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">blog for writer</h2>
                    <div class="w-more">
                      <span class="w-ctegory">PHP MVC & POO</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="modal fade modal-blog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br/>

            
              <h3>Blog for writers</h3>
              <p>This blog was made in PHP simply, without framework. MVC architecture was used.
                This project demonstrates the pure power of PHP, without any artifice. Very interesting.

                The concept POO was also used</p>

              <div class="row">
                <button type="button" class="btn btn-warning spacing">PHP 7</button>
                <button type="button" class="btn btn-warning spacing">MVC architecture</button>
                <button type="button" class="btn btn-warning spacing">POO</button>
                <button type="button" class="btn btn-warning spacing">Data Management</button>
                <button type="button" class="btn btn-warning spacing">Composer</button>
              </div>
              <br/><br/>
              <img src="img/work-06.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

<!-- 
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            <p class="subtitle-a">
              Article, essay, research lead...
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="img/post-1.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Travel</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">Article 1 </a></h3>
              <p class="card-description">
                article description
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Sacha Durand</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> 10 min
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="img/post-2.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Web Design</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">Article 2</a></h3>
              <p class="card-description">
                Article description
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Sacha Durand</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> 10 min
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="img/post-3.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Web Design</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">Article 3 </a></h3>
              <p class="card-description">
                Article description
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Sacha Durand</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> 10 min
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/hero-bg.jpg)" >
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  <div>
                      <!--<form action="" method="post" role="form" class="contactForm">-->
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>

                        {% for message in app.session.flashbag.get('info') %}
                          <br/>
                          <div class="alert alert-success ">

                            <p> {{ message }}</p>

                          </div>
                        {% endfor %}

                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                        <div class="row">
                          <div required="required" class="g-reCAPTCHA" data-sitekey="6Lci7_0UAAAAADsYfAmuqgF84-li9TfWItwEEmGW"></div>
                          </div>
                        
                        {{ form_start(contactForm) }}
                          {{ form_row(contactForm.Name) }}
                          <br/>
                          {{ form_row(contactForm.Email) }}
                          <br/>
                          {{ form_row(contactForm.Subject) }}
                          <br/>
                          {{ form_row(contactForm.Message) }}
                          <br/>

                          <script type="text/javascript">
                            function onReCaptchaValid(token) {
                              document.getElementById('id_du_formulaire').submit();
                            }
                          </script>

                          <div required class="g-recaptcha" data-sitekey="6Lci7_0UAAAAADsYfAmuqgF84-li9TfWItwEEmGW"></div><br/>

                          <div class="col-md-12">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>

                          {% do contactForm.setRendered() %}
                        {{ form_end(contactForm) }}
                    <!--</form>-->

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Do not hesitate to contact me for any work, but also for information.
                      Or to simply discuss the magnificent profession of web developer.
                      Together, let's share our passion
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> Fecamp (next to le havre), France</li>
                      <li><span class="ion-ios-telephone"></span> 06 58 01 65 54</li>
                      <li><span class="ion-email"></span> sacha6623@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/sacha-durand-687032150/"><span class="ico-circle">
                            <i class="ion-social-linkedin"></i></span></a></li>

                      <li><a href="https://github.com/DurandSacha"><span class="ico-circle">
                            <i class="ion-social-github"></i></span></a></li>
                      <li><a href="https://twitter.com/SachaDurand76"><span class="ico-circle">
                            <i class="ion-social-twitter"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>Sacha Durand</strong>. All Rights Reserved</p>
              <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Sacha Durand & BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

{% endblock %}

